:root{
    --white: #fff;
    --black: #000;
    --darkRed: #bb1422;
    --veryDarkRed: #780c15;
    --lightRed: #ce6a72;
    --pink: #fb96d5;
    --lightPink: #f8c3dd;
    --bubble_color: #f6e8e8;
}

@font-face {
    font-family: "dana ttf";
    src: url("./dana/@ghaleb_fre.ttf") format("ttf");
}
@font-face {
    font-family: "dana woff";
    src: url("./dana/@ghaleb_fre\(1\).woff") format("woff");
}

*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    display: grid;
    align-items: center;
}

body{
    font-family: "dana woff";
}

/* header start */


/* header bottom */


.image_container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 1.5rem;
}

.header_img{
    width: 73rem;
}

.header_title_container{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin: 2.5rem auto 2.3rem;
}

.header_title_container::after{
    content: "";
    display:inline-block;
    width: 100%;
    height: 0.1rem ;
    background-color: black;
}

.header_title{
    width: 75rem;
}

.header_title_container::before{
    content: "";
    display:inline-block;
    width: 100%;
    height: 0.1rem ;
    background-color: black;
}

.soap_choose{
    width: initial;
    display: flex;
    height: 9rem;
    position: relative;
}

/* ////////////////////// bubbles /////////////////////// */



.bubble{
    position: absolute;
}

.bubble_1{
    top: 2rem;
    left: 0.3rem;
    width: 3rem;
}
.bubble_2{
    top: 2rem;
    left: 4.5rem;
    width: 4rem;
}
.bubble_3{
    top: 0rem;
    left: 10rem;
    width: 5rem;
}
.bubble_4{
    top: 3rem;
    left: 13rem;
    width: 3rem;
}
.bubble_5{
    top: 1rem;
    left: 17rem;
    width: 6rem;
}
.bubble_6{
    top: 0rem;
    left: 48rem;
    width: 5.7rem;
}
.bubble_7{
    top: 2rem;
    left: 55rem;
    width: 5rem;
}
.bubble_8{
    top: 2rem;
    left: 58.5rem;
    width: 3rem;
}
.bubble_9{
    top: 0.5rem;
    left: 63rem;
    width: 4rem;
}
.bubble_10{
    top: 2.5rem;
    left: 68rem;
    width: 2.5rem;
}

/* ////////////////////////////////////////////////////// */

.choose_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 23rem;
    height: 4rem;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: right;
    border-radius: 8rem;
    background-color: var(--darkRed);
    /* border: 4px solid #ce6a72 ; */
    overflow: hidden;
    -webkit-border-radius: 8rem;
    -moz-border-radius: 8rem;
    -ms-border-radius: 8rem;
    -o-border-radius: 8rem;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
}


.choose_container:hover{
    /* height: 4.5rem; */
    transform: translateY(-0.25rem);
    -webkit-transform: translateY(-0.25rem);
    -moz-transform: translateY(-0.25rem);
    -ms-transform: translateY(-0.25rem);
    -o-transform: translateY(-0.25rem);

    box-shadow: 0 0.25rem 15px #0000002c;
}

.choose_start{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 5rem;
    background-color: var(--lightRed);
    border-radius: 2.5rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;
}

.choose_link{
    text-decoration: none;
    margin-right: 1.1rem;
    font-size: 19px;
    color: #fff;
    font-weight: 600;
}

.choose_start_link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose_start_img{
    margin-left: 0.2rem;
    width: 2rem;
    height: 2rem;
}

/* start main */


/* all products */

.all_products_section, .best_products_section{
    height: 475px;
}

.all_products,.best_products{
    transition: transform 2s ease;
    -webkit-transition: transform 2s ease;
    -moz-transition: transform 2s ease;
    -ms-transition: transform 2s ease;
    -o-transition: transform 2s ease;
}

.best_products{
    direction: ltr;
}

.best_product{
    direction: rtl;
}

.products_title_container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    margin-bottom: 1rem;
}

.products_title_container::after{
    content: "";
    display:inline-block;
    width: 100%;
    height: 0.1rem ;
    background-color: black;
}

.products_title_container::before{
    content: "";
    display:inline-block;
    width: 100%;
    height: 0.1rem ;
    background-color: black;
}

.products_title{
    text-wrap-mode: nowrap;
    padding: 0 0.7rem;
}

.products{
    display: grid;
    grid-template-columns: 16rem 16rem 16rem 16rem 16rem 16rem;
    justify-content: space-between;
    column-gap: 1.65rem;
}

.product{
    height: 20.5rem;
    background-color: var(--bubble_color);
    margin: 1rem 0 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    overflow: hidden;
    transition: all 0.3s 30ms ease;
    -webkit-transition: all 0.3s 30ms ease;
    -moz-transition: all 0.3s 30ms ease;
    -ms-transition: all 0.3s 30ms ease;
    -o-transition: all 0.3s 30ms ease;
}

.product:hover{
    transform: translateY(-1rem);
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    -o-transform: translateY(-1rem);
    box-shadow: 0 1rem 15px #0000001e;
}


.product_img_container{
    width: 100%;
    height: 16rem;
    background-color: #fff;
    border: 0.1px solid #000;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}


/* vip products */

.vip_products_section{
    background-color: #f7c01c ;
}

.vip_products_section_container{
    display: flex;
    justify-content: space-between;
}

.vip_products_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    color: var(--white);
}

.vip_section_btn_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 2.8rem;
    border: 2px solid #ffffff86;
    margin-top: 1rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.vip_section_btn_container:hover{
    border: 2px solid #ffffff;
}

.vip_section_btn_link{
    text-decoration: none;
    color: var(--white);
    font-size: 17px;
}


.vip_products_container{
    width: 55rem;
}

.vip_products{
    display: grid;
    grid-template-columns: repeat(4,12.5rem);
    grid-template-rows: 20rem;
    justify-content: space-between;
}

.vip_product{
    background-color: #fff;
    border-radius: 0.5rem;
    margin: 2rem 0;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

/* start footer */

.footer{
    height: 8rem;
    background-color: var(--darkRed);
}

/* .footer_container{
    height: 10rem;
    background-color: var(--lightRed);
    margin-top: 2rem;
} */