:root{
    --white: #fff;
    --black: #000;
    --darkRed: #bb1422;
    --lightRed: #ce6a72;
    --pink: #fb96d5;
    --lightPink: #f8c3dd;
    --bubble_color: #f6e8e8;
}

@font-face {
    font-family: "dana ttf";
    src: url("../dana/@ghaleb_fre\(1\).ttf") format("ttf");
}
@font-face {
    font-family: "dana woff";
    src: url("../dana/@ghaleb_fre\(1\).woff") format("woff");
}

*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    display: grid;
    align-items: center;
}

body{
    font-family: "dana woff";
}

/* start */

.start{
    display: none;
}

.choose_container{

}

.page_title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 ;
    height: 6rem;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    background-color: var(--bubble_color);
}

.page_title_text{

}

.title_container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
}

.title_container::after{
    content: "";
    display:inline-block;
    width: 100%;
    height: 2px ;
    background-color: var(--black) ;
}

.title_container::before{
    content: "";
    display:inline-block;
    width: 5%;
    height: 2px ;
    background-color: var(--black) ;
}

.title_text{
    text-wrap-mode: nowrap;
    margin: 0 0.7rem ;
}

.choose_box{
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 5rem;
    margin: 1.5rem 0;
    border: 1px solid var(--lightRed);
    border-radius: 8px;
    color: var(--black);
    background-color: var(--bubble_color);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all 0.4s 30ms ease;
    -webkit-transition: all 0.4s 30ms ease;
    -moz-transition: all 0.4s 30ms ease;
    -ms-transition: all 0.4s 30ms ease;
    -o-transition: all 0.4s 30ms ease;
}

.choose_box:hover{
    color: var(--white);
    background-color: var(--lightRed);
    transform: translateY(-0.4rem);
    -webkit-transform: translateY(-0.4rem);
    -moz-transform: translateY(-0.4rem);
    -ms-transform: translateY(-0.4rem);
    -o-transform: translateY(-0.4rem);
    box-shadow: 0 0.7rem 12px #00000055;
}

.choose_box:active{
    color: var(--white);
    background-color: var(--lightRed);
}

.choose_box_text{
    margin-right: 2rem;
    font-size: 20px;
}
