:root{
    --white: #fff;
    --black: #000;
    --darkRed: #bb1422;
    --veryDarkRed: #780c15;
    --lightRed: #ce6a72;
    --pink: #fb96d5;
    --lightPink: #f8c3dd;
    --bubble_color: #f6e8e8;
    --veryLightRed: #e88a92;
}

@font-face {
    font-family: "dana ttf";
    src: url("../dana/@ghaleb_fre\(1\).ttf") format("ttf");
}
@font-face {
    font-family: "dana woff";
    src: url("../dana/@ghaleb_fre\(1\).woff") format("woff");
}

*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    display: grid;
    align-items: center;
}

body{
    font-family: "dana woff";
}

/* start */

.container{
    width: 73rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow: hidden;
}

.form_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.form{
    text-align: center;
    background-color: var(--bubble_color);
    color: var(--veryDarkRed);
    width: 27rem;
    height: 30rem;
    border: 1px solid #780c1566;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.form_content_container{
    width: 100%;
    height: 14.5rem;
    margin-top: 3.5rem;
}

.form_title{
    margin: 1rem 0 2.5rem;
    font-size: 28px;
}

.phone_input_containet,.password_input_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 4rem;
}

.phone_input_containet{
    margin-bottom: 1.5rem;
}

.input{
    background-color: #ffffff00;
    color: var(--veryDarkRed);
    outline: none;
    border: 1px solid #780c154a;
    padding: 1rem 0.5rem;
    width: 80%;
    height: 3.6rem;
    font-size: 18px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-left: 1rem;
    direction: ltr;
}

.input:focus ~ .label{
    font-size: 16px;
    top: -5rem;
    right: -6.5rem;
    color: #780c15;
}

.input:focus ~ .password_label{
    right: -7.7rem;
}

.input:focus{
    border: 1px solid var(--darkRed);
}

.label{
    position: relative;
    top: -3.2rem;
    right: -5.5rem;
    text-align: right;
    color: #780c15c1;
    background-color: var(--bubble_color);
    padding: 0.5rem;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.password_label{
    right: -7rem;
}

.error_text_container{
    opacity: 0;
    margin: 0.2rem 0 0;
    color: #aa8e01;
    font-size: 16px;
}

.code_page_link_container{
    width: 80%;
    text-align: right;
    margin: 0.5rem auto 1rem;
    padding-right: 0.2rem;
}

.code_page_link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--veryDarkRed);
}


.btn{
    padding: 0 0 0.3rem;
    width: 80%;
    height: 3rem;
    background-color: var(--darkRed);
    color: var(--white);
    font-size: 18px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn:active{
    background-color: var(--veryDarkRed);
}

.sign_up_text_container{
    margin: 1.5rem 0 0;
    font-size: 15px;
    word-spacing: -1px;
}

.sign_up_link{
    color: var(--lightRed);
}

.back_to_main{
    width: 27rem;
    margin: 0.7rem;
    padding-left: 0.5rem;
    text-align: left;
}

.back_to_main_link{
    color: var(--veryDarkRed);
    text-decoration: none;
    word-spacing: -1px;
}

.phoneInputTrue{
    font-size: 16px;
    top: -5rem;
    right: -6.5rem;
    color: #780c15;
}

.passwordInputTrue{
    font-size: 16px;
    top: -5rem;
    right: -7.7rem;
    color: #780c15;
}

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 60rem;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 45rem;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 33rem;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100vw;
    }
    .form{
        width: 18rem;
        height: 24rem;
    }
    .form_content_container{
        height: 11.3rem;
        margin-top: 2.3rem;
    }
    .form_title{
        margin: 0 0 1.5rem;
        font-size: 23px;
    }
    .phone_input_containet,.password_input_container{
        height: 2.7rem;
    }
    .input{
        height: 2.7rem;
        font-size: 15px;
    }
    .label{
        font-size: 16px;
        top: -2.4rem;
        right: -3.4rem;
        padding: 0.3rem;
    }
    .input:focus ~ .label{
        font-size: 12px;
        top: -3.5rem;
        right: -4rem;
    }
    .input:focus ~ .password_label{
        right: -4.9rem;
    }
    .password_label{
        right: -4.5rem;
    }
    .error_text_container{
        font-size: 14px;
        margin: 0;
    }
    .code_page_link_container{
        margin: 0.5rem auto;
        font-size: 14px;
    }
    .btn{
        height: 2.5rem;
        padding: 0 0 0.5rem;
    }
    .sign_up_text_container{
        font-size: 12px;
    }
    .phoneInputTrue{
        font-size: 12px;
        top: -3.5rem;
        right: -4rem;
        /* color: #780c15; */
    }
    .passwordInputTrue{
        font-size: 12px;
        top: -3.5rem;
        right: -4.9rem;
        /* color: #780c15; */
    }
    .back_to_main{
        font-size: 14px;
        width: 18rem;
        margin: 0.rem;
        padding-left: 0.2rem;
    }
}
