:root{
    --white: #fff;
    --black: #000;
    --darkRed: #bb1422;
    --veryDarkRed: #780c15;
    --lightRed: #ce6a72;
    --pink: #fb96d5;
    --lightPink: #f8c3dd;
    --bubble_color: #f6e8e8;
}

/* header start */

.header_top{
    background-color: var(--darkRed);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 1;
}

.container{
    width: 73rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow: hidden;
}

.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburgary_icon_container, .close_icon_container{
    display: none;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding-right: 0;
}

.menu_item{
    list-style: none;
}

.menu_link{
    text-decoration: none;
    color: #fff;
    margin-left: 1.4rem;
    font-size: 18px;
    word-spacing: 1px;

}

.sign_in,.sign_up,.menu_link{
    transition: all 0.2s 30ms ease;
    -webkit-transition: all 0.2s 30ms ease;
    -moz-transition: all 0.2s 30ms ease;
    -ms-transition: all 0.2s 30ms ease;
    -o-transition: all 0.2s 30ms ease;
}

.menu_link:hover,.sign_in:hover,.sign_up:hover{
    color: #fbbd59;
}

.logo_container{
    padding: 1.5rem;
}

.nav_left{
    display: flex;
    align-items: center;
}

.search_box{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    padding-left: 0.3rem;
    height: 1.9rem;
    background-color: var(--bubble_color);
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.search{
    font-family: "dana woff";
    font-size: 17px;
    font-weight: 900;
    height: 1.9rem;
    width: 9rem;
    padding-right: 0.5rem;
    background-color: var(--bubble_color);
    color: var(--darkRed);
    outline: none;
    border: none;
}

.in_menu{
    display: none;
}

/* .search_icon{
    display: flex;
    align-items: center;
} */

.shopping_card_icon{
    width: 1.7rem;
}

.sing_in_up{
    display: flex;
    align-items: center;
}

.sign_up{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin: 0 0.8rem;
}

.sign_in{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-right: 0.8rem;
}

.separator{
    width: 0.1rem;
    height: 0.7rem;
    background-color: #fff;
}

/* start footer */

.footer{
    height: 4rem;
    background-color: #b6262d;
}

.footer_content_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}

.copyright_section,.content_us_section{
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--white);
    font-size: 17px;
}

.copyright_icon_container,.copyright_year_container,.copyright_text_container,.copyright_seperator{
    display: flex;
    align-items: center;
    margin-left: 0.4rem
}

.content_us_section{
    display: flex;
    justify-content: space-between;
    width: 17rem;
}

.telephone_icon_container,.telegram_icon_container,.instagram_icon_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 6px;
    background-color: var(--bubble_color);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.telegram_icon_link,.instagram_icon_link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.telephone_icon_container{
    display: flex;
    justify-content: space-around;
    width: 10rem;
    color: #b6262d;
}

.telephon_number{
    padding-top: 0.3rem;
}

@media only screen and (max-width: 1200px) {
    .menu_link{
        margin-left: 1.2rem;
        font-size: 17px;
    }
    .search_box{
        height: 1.8rem;
    }
    .search{
        font-size: 16px;
        font-weight: 900;
        height: 1.8rem;
        width: 8rem;
    }
    .search_icon{
        width: 20px;
    }
    .shopping_card_icon{
        width: 26px;
        padding-top: 3px;
    }
    .sign_up{
        font-size: 17px;
    }
    .sign_in{
        font-size: 17px;
    }
}

@media only screen and (max-width: 992px) {
    .menu_container{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--lightRed);
        width: 14rem;
        height: 100%;
        position: fixed;
        top: 0;
        right: -14rem;
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        z-index: 1;
    }
    .hamburgary_icon_container{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .close_icon_container{
        display: flex;
        justify-content: left;
        width: 100%;
        padding: 0.4rem;
        cursor: pointer;
    }
    .search_box{
        display: none;
    }
    .in_menu{
        display: flex;
        width: 11.5rem;
        margin: 1rem auto 0.5rem;
    }
    .in_menu_search{
       width: 10rem; 
    }
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;
        /* padding-top: 1rem; */
        width: 80%;
        text-align: center;
    }
    .menu_item{
        width: 100%;
        border-bottom: 1px solid #ffffff6a;
        padding: 0.5rem 0;
    }
    .menu_link{
        margin: 0;
        font-size: 17px;
    }
}