:root{
    --white: #fff;
    --black: #000;
    --darkRed: #bb1422;
    --veryDarkRed: #780c15;
    --lightRed: #ce6a72;
    --pink: #fb96d5;
    --lightPink: #f8c3dd;
    --bubble_color: #f6e8e8;
    --veryLightRed: #e88a92;
}

@font-face {
    font-family: "dana ttf";
    src: url("../dana/@ghaleb_fre\(1\).ttf") format("ttf");
}
@font-face {
    font-family: "dana woff";
    src: url("../dana/@ghaleb_fre\(1\).woff") format("woff");
}

*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    display: grid;
    align-items: center;
}

body{
    font-family: "dana woff";
}

/* start */

.container{
    width: 73rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow: hidden;
}

.form_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.form{
    text-align: center;
    background-color: var(--bubble_color);
    color: var(--veryDarkRed);
    width: 27rem;
    height: 28rem;
    border: 1px solid #780c1566;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.form_content_container{
    width: 100%;
    height: 13.5rem;
    margin-top: 3.5rem;
}

.form_title{
    margin: 1rem 0 2.5rem;
    font-size: 28px;
}

.code_inputs_container{
    display: grid;
    grid-template-columns: repeat(4,4.5rem);
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto 0;
    width: 80%;
    direction: ltr;
}

.code_input{
    display: flex;
    align-items: center;
    text-align: center;
    height: 4.5rem;
    background-color: var(--bubble_color);
    font-size: 24px;
    color: var(--veryDarkRed);
    outline: none;
    border: 1px solid #780c154a;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.code_input:focus{
    border: 1px solid var(--darkRed);
}

.error_text_container{
    opacity: 0;
    margin: 0.2rem 0 0;
    color: #aa8e01;
    font-size: 16px;
}

.send_again_container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 3.5rem;
    font-size: 15px;
    padding-right: 0.3rem;
}

.timer_text{
    color:#780c154a;
}

.time_span{
    margin-right: 0.3rem;
}

.send_again_text{
    display: none;
    cursor: pointer;
}

.btn{
    font-family: "dana ttf" ;
    padding: 0 0 0.3rem;
    width: 80%;
    height: 3rem;
    background-color: var(--darkRed);
    color: var(--white);
    font-size: 18px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn:active{
    background-color: var(--veryDarkRed);
}

.back_to_main{
    width: 27rem;
    margin: 0.7rem;
    padding-left: 0.5rem;
    text-align: left;
}

.back_to_main_link{
    color: var(--veryDarkRed);
    text-decoration: none;
    word-spacing: -1px;
}

.border{
    border: 1px solid var(--darkRed);
}

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 60rem;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 45rem;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 33rem;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100vw;
    }
    .form{
        width: 18rem;
        height: 22rem;
    }
    .form_content_container{
        height: 10.3rem;
        margin-top: 2.3rem;
    }
    .form_title{
        margin: 0 0 1.5rem;
        font-size: 23px;
    }
    .code_inputs_container{
        grid-template-columns: repeat(4,3rem);
    }
    .code_input{
        height: 3rem;
    }
    .error_text_container{
        font-size: 14px;
        margin: 0;
    }
    .send_again_container{
        font-size: 14px;
    }
    .code_page_link_container{
        margin: 0.5rem auto;
        font-size: 14px;
    }
    .btn{
        height: 2.5rem;
        padding: 0 0 0.5rem;
    }
    .back_to_main{
        font-size: 14px;
        width: 18rem;
        margin: 0.rem;
        padding-left: 0.2rem;
    }
}
